body {
    font-family     : Tahoma, Verdana, sans-serif;
    background-color: #000000;
    color           : #e4e4e4;
    margin          : 0;
    padding         : 0;
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : 100vh;
}

.container {
    background-color: #000000;
    padding         : 30px;
    border-radius   : 15px;
    box-shadow      : 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width       : 500px;
    width           : 100%;
    text-align      : center;
}

.profile {
    margin-bottom: 20px;
    padding-top  : 10%;

}

.profile img {
    border-radius: 50%;
    margin-bottom: 15px;
    width        : 200px;
    height       : 200px;
    object-fit   : cover;

}

.profile p {
    font-size: 18px;
    color    : #555;
    margin   : 10px 0;
}

p {
    font-size  : 15px;
    color      : #333;
    margin     : 10px;
    font-weight: bold;
}

form {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

textarea {
    width           : 100%;
    padding         : 15px;
    border          : 1px solid #ddd;
    border-radius   : 10px;
    font-size       : 1em;
    margin-bottom   : 20px;
    resize          : none;
    background-color: #272727;
    font-family     : Tahoma, Verdana, sans-serif;
    color           : #ddd;
}

button {
    font-family    : 'Arial', sans-serif;
    font-size      : 18px;
    background     : linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
    color          : white;
    padding        : 0.8em 1.2em;
    display        : flex;
    align-items    : center;
    justify-content: center;
    border         : none;
    border-radius  : 25px;
    box-shadow     : 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition     : all 0.3s;
}

button:hover {
    transform : translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

button:active {
    transform : scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button span {
    display    : block;
    margin-left: 0.4em;
    transition : all 0.3s;
}

button svg {
    width     : 18px;
    height    : 18px;
    fill      : white;
    transition: all 0.3s;
}

button .svg-wrapper {
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : 30px;
    height          : 30px;
    border-radius   : 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right    : 0.5em;
    transition      : all 0.3s;
}

button:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
}

button:hover svg {
    transform: rotate(45deg);
}


@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    textarea {
        font-size: 0.9em;
    }

    button {
        font-size: 0.9em;
    }
}

.Verified {
    display: flex;

    justify-content: center;



}

.Verified img {
    width      : 25px;
    height     : 25px;
    padding-top: 15px;

}

span .f {
    color: #66a6ff;

}

.me {
    width                  : 100%;
    color                  : #3b3b3b;
    text-align             : center;
    font-size              : 12px;
    padding-top            : 20px;
    border-top-left-radius : 5px;
    border-top-right-radius: 5px;
}

.my {
    margin         : 0.5rem;
    color          : #3d4a59;
    display        : inline-block;
    text-align     : center;
    cursor         : pointer;
    text-decoration: none;
    padding        : 0.375rem 0.75rem;
    font-size      : 1rem;
    line-height    : 1.5;
    border-radius  : 0.3rem;
    transition     : all 0.5s;
}

.my:hover {
    background-color: #3c4f64;
    color           : #fff;
    font-size       : 1.03rem;
}